.nav-container {
    display: flex;
    height: 35px;
    align-items: center;
    background: #1d2020;
    margin: 0;
    z-index: 99;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
}
.nav-left{
    display: flex;
    align-items: center;
}

.nav-right{

     margin-right: 40px;
}

.flash-logo {
    height: 25px;
    margin-left: 20px;
}

.flash-text {
    font-family: "Bangers", cursive;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 10px;
    color: #e7e6e7;
}
.nav-github-link{
    font-size: 14px;
    color: #e7e6e7;
    font-weight: 800;
}